@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  pointer-event: none;
}

body {
  background-color: #1E1E1E;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.navbar-fixed {
  @apply bg-opacity-80 bg-[#1e1e1e] fixed shadow-sm;
  backdrop-filter: blur(5px);
}

.nav-menu {
  @apply bg-[#1e1e1e] bg-opacity-95 shadow-md;
  position: absolute;
  z-index: 10;
}

.cursor {
  @apply bg-slate-900 h-6 w-6 rounded-full fixed top-0 left-0;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #585858;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3E3E3E;
}
